.box {
    background-color: #5481d4;
    width: 300px;
    height: 300px;
    border-radius: 50%;

    /* ctrl slash */
    box-shadow: 15px 15px 20px 20px rgba(34, 42, 114, 0.9);
}

.container {
    display: flex;
    justify-content: space-evenly; 
    background-color: rgb(128, 170, 209);
    align-items: center;
    height: 100vh;
}